* {
  font-size: 1rem;
  letter-spacing: 1px;
}

.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(30rem + 2vmin);
}

button {
  border: 2px solid #EF747C;
  font-size: 1rem;
  padding: .5em 1em;
  margin-right: 1rem;
  border-radius: .3em;
  background-color: transparent;
}

.button-pink {
  border: none;
  color: white;
  background-color: #EF747C;
}

.button-blue {
  color: white;
  border: none;
  background-color: #38A6C9;
}

.button-round {
  padding: .7em 1em;
  border-radius: 10rem;
}

.brand {
  font-size: 2rem;
}
